 {
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
